/* your styles go here */

ul.submenu {
    color: #4fbfa8;
    display: none;
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
    color: #4fbfa8;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 100%;
    object-fit: cover;
}

input[type="checkbox"] {
    visibility: hidden;
}

.menu {
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}
