/* your styles go here */

ul.submenu {
    color: #4fbfa8;
    display: none;
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
    color: #4fbfa8;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 100%;
    object-fit: cover;
}

input[type="checkbox"] {
    visibility: hidden;
}

.menu {
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px 5px !important;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px 5px !important;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
}

.see-more {
    color: #212529;
    background-color: #4fbfa8;
    width: 65px;
    height: 40px;
}

h7,
.h7 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2;
    color: white;
}

#toTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4fbfa8; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: 0.7;
    /* height: 10px; */
    /* width: 30px; */
}

#toTopBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.up-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 10px black;
    border-top-width: 0;
    cursor: pointer;
    opacity: 0.5;
}

.down-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 10px black;
    border-bottom-width: 0;
    margin-top: 1px;
    cursor: pointer;
    opacity: 1;
}

/* shopping cart */

.cart-badge {
    background-color: white;
    border-radius: 10px;
    color: #4fbfa8;
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.cart-badge-invert {
    background-color: #4fbfa8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    /* margin: 5px 0; */
    padding: 5px;
    position: relative;
    width: 400px;
    height: 100%;
    /* display: none; */
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: #4fbfa8;
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: #4fbfa8;
    float: left;
    font-size: 24px;
    margin-right: 7px;
}
.button1 {
    background: #4fbfa8 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: 25px 0 15px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.button1:hover {
    background: black none repeat scroll 0 0;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
